/* Css Reset */
* {
    padding: 0;
    margin: 0;
}
/* End Css Reset */
/* Elemet Selector */
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* animation: jedajedug 0.1s linear 1s infinite alternate; */
    /* text-align: center; */
}

.txt-center {
    text-align: center;
}

.bg-primary{
    background-color: aqua;
    border-radius: 0 0 10px 10px;
}
.pb1 {
padding-bottom: 10px;
}
.mb-5{
    margin-bottom: 5px;
}

.nav ul{
    list-style-type: none;
    background-image: linear-gradient(to right top, #affde8, #c0fadd, #d0f7d6, #ddf3d3, #e7f0d3);
    overflow: hidden;
}
.nav li {
    float: left;
}

.nav li:active {
    background-color: aqua;
}

.nav a{
    padding-right: 10px;
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    font-weight: 600;
}

.nav a:hover{
    background-color: black;
    color: aqua;
   
}



/* jedagjedug */
@keyframes jedajedug {
    10% {
        background-color: aquamarine;
    }
    20% {
        background-color: red;
    }
    30% {
        background-color: blue;
    }
    40% {
        background-color: gray;
    }
    50% {
        background-color: black;
    }
    60% {
        background-color: purple;
    }
    70% {
        background-color: pink;
    }
    80% {
        background-color: orange;
    }
    90% {
        background-color: brown;
    }
    100% {
        background-color: magenta;
    }
}